*{
  padding: 0;
  margin: 0;
}
.page a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  margin-top: 10px;
}
.page a:hover{
  color:#0051d2;
}
.care .chois h4 {
  color: #020a21;
}
.care .chois h4:hover {
  color: #0051d2;
}
.header{
  color: gray;
  border-bottom: 1px solid lightgray;
  padding: 15px;
}
.care .care-cards-icons a {
  display: inline-block;
  color: #797979;
  font-size: 13px;
  margin-right: 30px;
  position: relative;
  text-decoration: none;
  transition: all 300ms linear 0s;
}
.header .se-cond a{
  text-decoration: none;   
  color: gray;
  margin-left:-3px ;
}
.header .left-site {
  margin-left:50px;
  color: gray;
  text-decoration: none;   
}
.nav-bar{
  background-color: white;
  padding: 20px;
  left: 0;
  z-index: 1;
  position: sticky;
  top: 0;
}
.nav-bar img{
  margin-left: 100px;
}
.learn-more{
  margin-left: 55px;
}
.header img{
  padding-left: 40px;
}
.se-cond:hover{
  cursor: pointer;
  color: #0051d2;
}
.care .care-cards-icons {
  margin-bottom: 15px;
}
.first-icon i:hover{
  color: #0051d2;
  cursor: pointer;
}
.first-icon{
  margin-right: 30px;
}
span {
  color: orange;
}
.fa-bars {
  font-size: xx-large;
  margin-top: 5px;
  margin-left: 20px;
  color: #0051d2;
  padding: 10px;
  border-radius: 5px;
}
.Banner{
 background-image: url("./img/home-banner.jpg");
 height: 85vh;
 object-fit: cover;
 background-position: center;
}
.Banner p{
  color: gray;
  padding-left: 45px;
  padding: 20px;
}
.Banner h2{
  font-family: serif;
  padding-left: 40px;
  font-weight: 900 ;
  font-size: 4vw;
  padding-top: 230px;
}
.button1{
  color: white;
  width: 180px;
  margin-right: 5px;
  font-size: medium;
  height: 50px;
  font-family: serif;
  border: none;
  background-color: #0051d2;
  margin-left: 3.5%;
  transition: .5s ease;
}
.button2{
  width: 180px;
  border: none;
  color: #0051d2;
  height: 50px;
  background-color: transparent;
  border: 1px solid #0051d2;
  font-family: serif;
  transition: .5s ease;
}
.button1:hover{
  color: #0051d2;
  background-color: white;
  cursor: pointer;
  border: 1px solid #0051d2;
}
.button2:hover{
  color: white;
  background-color: #0051d2;
  cursor: pointer;
  border: 1px solid #0051d2;
}
.button3 {
  color: black;
  text-decoration: none;
}
.hr{
  color: black;
  border: 1px solid black;
  width: 30px;
}
.hr:hover{
  width:80px;
  border: 1px solid blue;
}
.part{
  background-image: url("./img/pattern_bg.jpg");
  justify-content: center;
  margin-bottom: 10%;
  align-items: center;
  display: flex;
  height: 35vh;
  color: black;
}
.card-icon{
  height:50px;
  margin: 40px 20px;
  width: 50px;
  border-radius: 50%;
  border-bottom: 1px solid gray;
  background-color: rgba(241, 238, 238, 0.829);
}
.thing-card{
  padding: 15px;
  background-color: white;
  margin: 20px;
  margin-left: 50px;
  box-sizing: border-box;
  width: 350px;
}
.medcare-doctors .team-footer .btn-icon i {
  margin-right: 9px;
  font-size: 13px;
}
.thing-card h2{
  font-size: larger;
}
.section {
  height: 180px;
  margin-top: 50px;
  padding-top: 30px;
  width: 380px;
  background-color: #fff;
  text-align: center;
}
.span {
  font-size: 30px;
}
.blue h2{
font-family: serif;
font-weight: bold;
}
.blue  p{
  color: gray;
}
.doctor-card{
  width: 140%;
  margin-left: 100px;
}
.section-doctor-card{
  margin: 90px;
  width: 30% ;
  box-sizing: border-box;
  height: 400px;
  margin-left: 10px;
}
.medcare-doctors .team-footer .btn-icon {
  font-size: 14px;
  color: #797979;
  text-decoration: none;
}
.back-img{
  background-image: url( "./img/bg_1.png");
  margin-top: -300px;
  object-fit: cover;
  margin-bottom: 10%;
  height: 150vh;
}
.text-their{
  margin-top: 430px;
  padding: 20px;
}
.line{
  color: black;
}
.med-care{
  margin-top: -440px;
}
.make-an{
  background-color: rgb(33, 33, 230);
  color: #fff;
  width: 200px;
  height: 50px;
  border-color:#fff;
  outline-color:#0051d2
}
.make-an:hover{
  background-color: #fff;
  height: 50px;
  border-color:#fff;
  color: blue;
  width: 200px;
}
.slide{
  background-image: url("./img/bg_2.png");
  background-position: center;
  justify-content: center;
  background-repeat: no-repeat;
  height: 80vh;
  text-align: center;
  align-items: center;
}
.slide-show{
  width: 80%;
  margin-left: 10%;
  font-size: 22px;
  color: gray;
  margin-top: 100px ;
}
.slide-show img{
  border-radius: 50%;
  height: 100px;
}
.medcare-doctors .team-footer {
  padding-top: 18px;
  border-top: 1px solid #e8edf1;
}
.form{
  background-color: white;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  padding: 10px;
  font-family: serif;
  font-size: large;
  margin-top: 10%;
}
.form-make p{
  border-bottom: 1px solid rgb(237, 234, 234);
  border-width: 80%;
  font-size: large;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.form-make{
  margin-bottom: 20px;
}
.medcare-doctors__social li a:hover {
  color: #0051d2;
}
.form input{
  width: 100%;
  border: 1px solid lightgray;
  margin-top: 10px;
  height: 50px;
}
.form input::placeholder{
 padding-left: 15px;
 font-family: sans-serif;
 font-size: medium;
}
.form textarea::placeholder{
  padding-left: 15px;
  font-size: medium;
  font-family: sans-serif;
 }
.form textarea{
  width: 100%;
  margin-top: 10px;
  border: 1px solid lightgray;
  height: 100px;
}
.img-style{
  background:linear-gradient(rgba(42, 24, 201, 0.829), rgba(16, 6, 194, 0.884)), url("./img/background\ img.jpg");
  background-repeat: no-repeat;
  height: 48vh;
  text-align: center;
  background-position: center;
  margin-top:-400px;
  margin-bottom:100px;
  object-fit: cover;
}
.img-style .para{
  margin: 10px auto;
  margin-top:-400px;
  padding-top: 150px;
  color: white;
  width: 60%;
}
.para h1{
  font-size: 5vw;
}
.para p{
  font-size: 16px;
}
.care {
  transition: all 300ms linear 0s;
  height: auto;
  width: 400px;
  margin-left: 40px;
}
.footer-area .single-footer-widget .click-btn:hover {
  background-position: right center;
}
.footer-area .footer-bottom {
  margin-top: 85px;
  border-top: 1px solid #e8edf1;
  color: #797979;
  padding: 30px 0;
}
.care .doctor {
  overflow: hidden;
  margin-bottom: 25px;
}
.care .doctor img {
  width: 100%;
  transition: all 300ms;
}
.footer-area .footer-bottom .footer-social a:hover {
  background: #0051d2;
}
.footer-area .footer-bottom .footer-social a:hover i {
  color: #fff;
}
.medcare-doctors__card  p {
  margin-bottom: 26px;
}
.footer-area .footer-bottom .footer-social i {
  color: #cccccc;
  transition: all 300ms linear 0s;
}
.care .chois {
  background: #fff;
  padding: 0;
  transition: all 200ms;
  gap: none;
}
.care .care-cards-icons a i {
  margin-right: 10px;
}
.care .meta-top a {
  display: inline-block;
  font-size: 13px;
  text-decoration: none;
  position: relative;
  transition: all 300ms linear 0s;
  color: #797979;
  text-transform: uppercase;
}
.footer-area .single-footer-widget .click-btn span {
  font-weight: 500;
}
.image-logo  img {
  opacity: 0.5;
  margin-left: 2em;
  transition: all 300ms linear 0s;
}
.footer-area .single-footer-widget .click-btn:focus {
  outline: none;
  box-shadow: none;
}
.image-logo :hover img {
  opacity: 1;
  transition: all 300ms linear 0s;
}
.care .meta-top a:hover {
  color: #0051d2;
}
.care h4 {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 15px;
  font-weight: 400;
  transition: all 300ms linear 0s;
}
@media (max-width: 1199px) {
  .care h4 {
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  .care h4 {
    margin-bottom: 8px;
  }
}
.care:hover .chois {
  background: #ffffff;
}
.care:hover img {
  transform: scale(1.1);
}
.img-logo {
  margin-left: 30px;
  margin-right: 40px;
  padding: 70px 0;
}
@media (max-width: 991px) {
  .footer-area .single-footer-widget {
    text-decoration: none;
    margin-bottom: 30px;
  }
}
.footer-area .single-footer-widget h4 {
  margin-bottom: 30px;
  margin-left: 50px;
  color: #33363e;
}
@media (max-width: 1024px) {
  .footer-area .single-footer-widget h4 {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .footer-area .single-footer-widget h4 {
    margin-bottom: 15px;
  }
}
.footer-area .single-footer-widget ul {
  margin-left: 20px;
  padding-left: 30px;
}
.footer-area .single-footer-widget ul li {
  margin-bottom: 8px;
  list-style: none;
  text-decoration: none;
}
.image-logo  {
  cursor: pointer;
  margin: 0 auto;
}
.footer-area .single-footer-widget ul li a {
  text-decoration: none;
  transition: all 300ms linear 0s;
  color: #797979;
}
.footer-area .single-footer-widget ul li a:hover {
  color: #0051d2;
  text-decoration: none;
}
.footer-area .single-footer-widget .form-wrap {
  margin-top: 25px;
}
.medcare-doctors__social li {
  margin-right: 14px;
  display: inline-block;
}
.footer-area .single-footer-widget input {
  height: 50px;
  border: none;
  font-weight: 300;
  font-size: 14px;
  padding: 10px;
  padding-left: 20px;
  width: 80% !important;
  border: 1px solid #e8edf1;
  color: #797979;
  border-radius: 0;
}
.footer-area .single-footer-widget input:focus {
  box-shadow: none;
  outline: none;
}
.care .care-cards-icons a:hover {
  color: #0051d2;
  transition: 0.3s ease;
}
.care .meta-top {
  text-decoration: none;
  margin-bottom: 6px;
}
span{
  color: blue;
}
@media (max-width: 991px) {
  .footer-area .footer-bottom {
    margin-top: 20px;
    text-align: center;
  }
}
.footer-area .footer-bottom a {
  color: #0051d2;
}
.footer-area .footer-bottom .footer-social a {
  background: rgb(51, 50, 50);
  width: 30px;
  text-align: center;
  line-height: 30px;
  transition: all 300ms linear 0s;
  display: inline-table;
  height: 30px;
}
.medcare-doctors__card  h3 a {
  color: #2a2a2a;
  text-decoration: none;
}
.medcare-doctors__social {
  float: right;
}
.footer-area .footer-bottom .footer-social {
  text-align: right;
 margin-left: 61%;
}
@media (max-width: 991px) {
  .footer-area .footer-bottom .footer-social {
    text-align: center;
    margin-top: 20px;
  }
}
@media (max-width: 767px) {

  .footer-area {
    padding-top: 70px;
  }
  .footer-bottom {
    margin-top: 35px;
  }
}
.medcare-doctors {
  border: 0;
  transition: all 300ms linear 0s;
  border-radius: 0;
}
@media (max-width: 991px) {
  .medcare-doctors {
    margin-bottom: 30px;
  }
}
.medcare-doctors__card  {
  border: 1px solid #e8edf1;
  padding: 20px 70px 6px;
  transition: all 300ms linear 0s;
  border-top: 0;
}
@media (max-width: 1199px) {
  .medcare-doctors__card  {
    padding: 28px 20px 6px;
  }
}
.medcare-doctors__card  h3 {
  margin-bottom: 3px;
  font-size: 20px;
}

@media (max-width: 1199px) {
  .medcare-doctors__social li {
    margin-right: 10px;
  }
}
.medcare-doctors__social li:last-child {
  margin-right: 0;
}
.medcare-doctors__social li a {
  color: #777884;
}
.footer-area .single-footer-widget .click-btn {
  height: 50px;
  background: #0051d2;
  border-top-left-radius: 0px;
  padding: 8px 20px;
  font-weight: 500;
  border-radius: 0;
  border-bottom-left-radius: 0px;
  border: 0;
  color: #fff;
  font-size: 15px;
  text-transform: capitalize;
  transition: all 300ms linear 0s;
}





